<div class="column new-activity-form">
    <div class="field">
        <label class="label">Your Name</label>
        <div class="control">
            <input class="input" id="name" type="text" placeholder="e.g Alex Smith">
        </div>
    </div>

    <div class="field">
        <label class="label">Date of Activity</label>
        <div class="control">
            <input class="input" id="date" type="text" placeholder="e.g 10/20/2030">
        </div>
    </div>

    <div class="field">
        <label class="activity">Select an Activity</label>
        <div class="control">
            <div class="select is-rounded is-active" id="activityName">
                <select>
                    <option>Whitewater Kayaking</option>
                    <option>Mountain Biking</option>
                    <option>Backcountry Skiing</option>
                    <option>Resort Skiing</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Activity Description </label>
        <div class="control">
            <input class="input" id="activity-des" type="text" placeholder="Middle Section of the White Salmon River">
        </div>
    </div>

    <div class="field">
        <label class="activity">Rigor of the Activity</label>
        <div class="control">
            <div class="select is-rounded is-active" id="rigor">
                <select>
                    <option>Casual</option>
                    <option>Sweaty</option>
                    <option>Speed Lap</option>
                    <option>Barfing</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Mileage</label>
        <div class="control">
            <input class="input" id="mileage" type="number" placeholder="e.g 15 miles">
        </div>
    </div>

    <div class="field">
        <label class="label">Duration</label>
        <div class="control">
            <input class="input" id="duration" type="number" placeholder="e.g 10 hours">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link" id="newNew-submit">Submit</button>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link" id="newOld-submit">Submit</button>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
    </div>
</div>
