body{
    background-color: salmon;
}

/* .hero {
    background-image: url('../img/hero-IMG_2321.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color:#000c20;
} */